{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/forget_password.css' %}">
</head>
<body>
    <div class="container">
        <h2 id="title-rem">فراموشی رمز عبور</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-field">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="form-field">
                {{ form.first_name.label_tag }}
                {{ form.first_name }}
            </div>
            <div class="form-field">
                {{ form.phone_number.label_tag }}
                {{ form.phone_number }}
            </div>
            <div class="form-field">
                {{ form.new_password.label_tag }}
                {{ form.new_password }}
            </div>
            <button type="submit">تغییر رمز عبور</button>
        </form>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="circle" id="cir1">
    </div>

    <div class="circle" id="cir2">
    </div>
    <div class="circle" id="cir3">
    </div>
    </div>
</body>
</html>
{% endblock content %}