<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <div class="login-container">
        <form class="login-form" method='POST'>
            {% csrf_token %}
            <p id="enter"><b>ورود یا ثبت‌نام</b></p>
            <div class="form-group">
                {{"نام کاربری یا ایمیل: "}}
                {{form.username}}
                {{"رمز عبور: "}}
                {{form.password}}
            </div>
            <div class="form-group">
                <input type="checkbox" id="remember-me" name="remember-me">
                <label for="remember-me">مرا به خاطر بسپار</label>
            </div>
            <button type="submit">ورود</button>
            <div class="forgot-password">
                <a href="{% url 'forget_password'%}">رمز خود را فراموش کرده اید؟</a>
            </div>
            <div class="sign-up">
                <p>حساب کاربری ندارید؟ <a href="{% url 'register' %}">ثبت نام</a></p>
            </div>
        </form>
    </div>
    <div class="circle" id="cir1">
    </div>

    <div class="circle" id="cir2">
    </div>
    <div class="circle" id="cir3">
    </div>
    </div>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
    <script src="{% static 'js/login.js' %}" defer></script>
</body>
</html>