<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحه ثبت نام</title>
</head>
<body>
    <div class="signup-container">
        <form class="signup-form", action="", method="POST">
            {% csrf_token %}
            <h2>ثبت نام</h2>
            <div class="form-group">
                {{form}}
            </div>
            <button type="submit">ثبت نام</button>
        </form>
    </div>
    {% load static %}
    <link rel="stylesheet" href='{% static "css/signup.css" %}'>
</body>
</html>
