body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('../images/cart_background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

.cart-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin: 60px auto; /* فاصله بیشتر از بالای صفحه */
    max-width: 800px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.cart-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: linear-gradient(145deg, #f0f0f0, #e0e0e0);
}

.cart-item img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 5px;
}

.cart-item p {
    margin: 0;
    padding: 0 10px;
}

.empty-cart-message {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(145deg, #f0f0f0, #e0e0e0);
}

.total-cost {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.finalize-order-form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.quantity-form {
    display: inline-block;
}

.quantity-input {
    width: 50px;
    text-align: center;
}

.remove-btn {
    background-color: #ff4d4d;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    margin-left: auto;
}

.remove-btn:hover {
    background-color: #ff1a1a;
}
