

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #f3cea6, #533100);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgba(255, 255, 255, 0.06);
    position: absolute;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    direction:ltr;
    max-width: 400px;
    width: 100%;
    text-align:center;
    z-index:2;
    backdrop-filter:blur(6px);
    box-shadow: -1px 1px 20px 0 black;
    padding-bottom:30px;
    padding-top:30px;
}

h2 {
    margin-top: 0;
    color: #672d00;
}

.form-field {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #e6ddd4;
    direction:rtl;
}

input[type="text"],
input[type="password"] {
    width: 95%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #b55e07;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top:10px;
}

button[type="submit"]:hover {
    background-color: #874800;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    color: red;
    margin-bottom: 5px;
}
.circle{
    width:150px;
    height:150px;
    border-radius:100%;
}
#cir1{
    background-image:linear-gradient(#ebe6dc, rgb(87, 59, 16));
    margin-top: -468px;
    margin-left:-208px;
    position:absolute
}
#cir2{
    background-image:linear-gradient( to right, #231d1d, rgb(225, 154, 22));
    margin-top:82px;
    margin-left: 451px;
    position: absolute;
}
#cir3{
    background-image:linear-gradient( to right, #e0ffc5, rgb(52, 33, 0));
    margin-top:452px;
    margin-left: -440px;
    position: absolute;
}
#title-rem{
    display: inline-block;
    position: relative;
    font-size: 24px !important;
    text-align: center;
    color:#472107

}
#title-rem::before,
#title-rem::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 64%;
  height: 1px;
  background-color: #e0ffc5;
}

#title-rem::before {
  right: 100%;
  margin-right: 10px;
}

#title-rem::after {
  left: 100%;
  margin-left: 10px;
}