body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #693e02, #c9af60);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    direction: rtl; /* Set the direction to RTL */
}

.login-container {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.login-form h2 {
    margin-bottom: 1.5rem;
    color: #333;
    text-align: center; /* Center the header text */
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    justify-content: flex-end; /* Align items to the right */
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

.form-group label[for="remember-me"] {
    display: inline-block;
    margin-left: 0.5rem;
    color: #555;
}

button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background: #472107;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #c8b177;
}

.forgot-password {
    text-align: center;
    margin-top: 1rem;
}

.forgot-password a {
    color: #713005;
    text-decoration: none;
    transition: color 0.3s ease;
}

.forgot-password a:hover {
    color: #c8b177;
}

.sign-up {
    text-align: center;
    margin-top: 1rem;
}

.sign-up p {
    margin: 0;
    color: #555;
}

.sign-up a {
    color: #713005;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.sign-up a:hover {
    color: #c8b177;
}
