@font-face {
    font-family: Vazirmatn;
    src: url(../fonts/fonts/ttf/Vazirmatn-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
*{
    font-family: Vazirmatn;
} 
p{
    color: #e6ddd4;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #c9af60, #5c3301);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    direction: rtl; 
}

.signup-container {
    background: rgba(255, 255, 255, 0.06);
    z-index:2;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    backdrop-filter:blur(6px);
    box-shadow: -1px 1px 20px 0 black;
}

#regis {
    display: inline-block;
    font-size: 30px;
    position: relative;
    text-align: center;
    color:#472107;
    left : -44%;
}
#regis::before,
#regis::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 297%;
  height: 1px;
  background-color: #c8b177;
}

#regis::before {
  right: 100%;
  margin-right: 10px;
}

#regis::after {
  left: 100%;
  margin-left: 10px;
}
.form-group {
    margin-bottom: 1rem;
    text-align: right;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #e6ddd4;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 95%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: right;
}

button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background: #472107;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top:5px;
}

button:hover {
    background: #c8b177;
}
#regis{
    font-size:20px;
}
.login {
    text-align: center;
    margin-top: 1rem;
}
.login p {
    margin: 0;
    color: #555;
}
.login a {
    color: #713005;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.login a:hover {
    color: #c8b177;
}
.circle{
    width:200px;
    height:200px;
    border-radius:100%;
}
#cir1{
    background-image:linear-gradient(#ebe6dc, rgb(87, 59, 16));
    margin-top: -128px;
    margin-left:-500px;
    position:absolute
}
#cir2{
    background-image:linear-gradient( to right, #231d1d, rgb(225, 154, 22));
    margin-top:-673px;
    margin-left: 451px;
    position: absolute;
}
#cir3{
    background-image:linear-gradient( to right, #e0ffc5, rgb(52, 33, 0));
    margin-top:714px;
    margin-left: 154px;
    position: absolute;
}
.helptext {
    color: #472107
}

