<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>کافی شاپ</title>
</head>
<body>
    {% load static %}

<div class="navbar">
    <ul>
        <li>
            <a href="#"><i class="fas fa-bars"></i>منو</a>
            <div class="dropdown">
                <a href="#mostsale">محصولات پرفروش</a>
                <a href="#coldc">نوشیدنی سرد</a>
                <a href="#hotc">نوشیدنی گرم</a>
                <a href="#cake">کیک</a>
            </div>
        </li>
        <li><a href="#"><i class="fas fa-shopping-cart"></i> سبد خرید</a></li>
        <li><a href="#"><i class="fas fa-history"></i> سوابق خرید</a></li>
        <li><a href="#"><i class="fas fa-user"></i> ورود به حساب کاربری</a></li>
        <li><a href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i>خروج</a></li>

    </ul>
</div>

<div class="slider-container">
    <div class="slider">
        <img src='{% static "dynamics/image1.jpg" %}' alt="تصویر 1">
        <img src='{% static "dynamics/image2.jpg" %}' alt="تصویر 2">
        <img src='{% static "dynamics/image3.jpg" %}' alt="تصویر 3">
        <img src='{% static "dynamics/image4.jpg" %}' alt="تصویر 4">
        <img src='{% static "dynamics/image5.jpg" %}' alt="تصویر 5">
        <div class="slider-buttons">
            <button onclick="prevSlide()">&#10094;</button>
            <button onclick="nextSlide()">&#10095;</button>
        </div>
    </div>
</div>

<div class="product-section">
    <h2 id="mostsale">محصولات پرفروش</h2>
    <div class="product-grid">
        <img src="cold/cold1.jpg" alt="نوشیدنی سرد 1">
        <img src="cold/cold2.jpg" alt="نوشیدنی سرد 2">
        <img src="cold/cold3.jpg" alt="نوشیدنی سرد 3">
        <img src="cold/cold4.jpg" alt="نوشیدنی سرد 4">
        <img src="cold/cold5.jpg" alt="نوشیدنی سرد 5">
        <img src="cold/cold6.jpg" alt="نوشیدنی سرد 6">
    </div>
</div>

<div class="product-section">
    <h2 id="coldc">نوشیدنی سرد</h2>
    <div class="product-grid">
        <img src="cold/cold1.jpeg" alt="نوشیدنی سرد 1">
        <img src="cold/cold2.jpeg" alt="نوشیدنی سرد 2">
        <img src="cold/cold3.jpeg" alt="نوشیدنی سرد 3">
        <img src="cold/cold4.jpeg" alt="نوشیدنی سرد 4">
        <img src="cold/cold5.jpeg" alt="نوشیدنی سرد 5">
        <img src="cold/cold6.jpeg" alt="نوشیدنی سرد 6">
    </div>
</div>

<div class="product-section">
    <h2 id="hotc">نوشیدنی گرم</h2>
    <div class="product-grid">
        <img src="hot/hot1.jpg" alt="نوشیدنی گرم 1">
        <img src="hot/hot2.jpg" alt="نوشیدنی گرم 2">
        <img src="hot/hot3.jpg" alt="نوشیدنی گرم 3">
        <img src="hot/hot4.jpg" alt="نوشیدنی گرم 4">
        <img src="hot/hot5.jpg" alt="نوشیدنی گرم 5">
        <img src="hot/hot6.jpg" alt="نوشیدنی گرم 6">
    </div>
</div>

<div class="product-section">
    <h2 id="cake">کیک</h2>
    <div class="product-grid">
        <img src="cake/cake1.jpeg" alt="کیک 1">
        <img src="cake/cake2.jpeg" alt="کیک 2">
        <img src="cake/cake3.jpeg" alt="کیک 3">
        <img src="cake/cake4.jpeg" alt="کیک 4">
        <img src="cake/cake5.jpeg" alt="کیک 5">
        <img src="cake/cake6.jpeg" alt="کیک 6">
    </div>
</div>

<div class="footer">
    <p> تمامی حقوق برای کافی شاپ مشترک صداقتی و دوستان محفوظ است&copy; 2024</p>
</div>
<link rel="stylesheet" href="{% static 'css/homePage.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<script src='{% static "js/homePage.js "%}'></script>
</body>
</html>
