{% extends 'base.html' %}


{% block content %}
    
    
<body>
    <div class="login-container">
        <form class="login-form", method="POST">
            {% csrf_token %}
            <h2>ورود</h2>
            <div class="form-group">
                {{form}}
            </div>
            <div class="form-group">
                <input type="checkbox" id="remember-me" name="remember-me">
                <label for="remember-me">مرا به خاطر بسپار</label>
            </div>
            <button type="submit">ورود</button>
            <div class="forgot-password">
                <a href="#">رمز خود را فراموش کرده اید؟</a>
            </div>
            <div class="sign-up">
                <p>حساب کاربری ندارید؟ <a href="">ثبت نام</a></p>
            </div>
        </form>
    </div>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
    <script src="{% static 'js/login.js' %}" defer></script>
    
</body>

{% endblock content %}
